<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper.xml 과 mapper 연결-->
<!-- 풀클래스명 사용시 <mapper namespace="kr.co.urbancode.mapper.PlaceMapper">
-->
<mapper namespace="mapper.PlaceMapper">

    <!-- db 컬럼명 규칙: 스네이크(writing_time) 방식 따른다-->
    <select id="selectOnePlace" parameterType="int" resultType="kr.co.urbancode.dto.PlaceDTO">
        select contentId, <!-- content_id(db 컬럼명) as contentId(dto 필드명)-->
               title,
               areaCode,
               image1,
               image2,
               address,
               mapx,
               mapy,
               contents,
               theme,
               writingtime,
               likecnt,
               viewcnt,
               homepage,
               contenttypeid
        from place
        where contentId = #{contentId}
    </select>

</mapper>